body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  justify-content: space-between;
  
  background: green;
}

nav {
  width: 10%;
  
}

menu {
  width: 30%;
}

menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

menu ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bolder;
  text-transform: uppercase;
}

menu ul li a:hover {
  color: black;
}

footer {
  text-align: center;
  background: yellowgreen;
  position: absolute;
  bottom: 0;
  width: 98.35%;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
}