body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  background: green;
}

nav {
  /* width: 30%; */
  
}

menu {
  /* width: 30%; */
  padding: 0 2rem 0 0;
}

menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
  justify-content: space-around;
}

menu ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bolder;
  text-transform: uppercase;
}

menu ul li a:hover {
  color: black;
}

main {
  width: 80%;
  margin: 4rem auto;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding: 2rem;
}

.header-box h1 {
  font-size: 3rem;
  text-align: justify;
}

.header-box p {
  font-size: 1.5rem;
  text-align: justify;
}

.header-box a {
  background: #087f5b;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  font-size: 1.25rem;
  border-radius: 100px;
  padding: 1rem 2rem;
  margin: 1rem auto;
}

/* .header-section {
  width: 50%;
}

.header-image {
  width: 50%;
} */

.header-box img {
  width: 100%;
  border-radius: 12px;
}

footer {
  text-align: center;
  background: yellowgreen;
  /* position: fixed; */
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
}